<div class="dashboard">
    <div class="title-container">
        <h2>Controle de pensamentos</h2>
        <a href="/toughts/make" class="btn make">Criar pensamento</a>
    </div>
    <h3>Seus pensamentos</h3>
    <ul>
        {{#each toughts}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
                    <form action="/toughts/delete" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir" class="btn delete">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
        <p>Você não possui pensamentos, crie clicando<a href="/toughts/make" class="link"> AQUI</a>!</p>
    {{/if}}
</div>