@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

/* NAVBAR */

#logo img {
    height: 50px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid #00F060;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
}

#navbar ul li a:hover {
    color: #00F060;
}

#navbar ul li a img {
    margin-left: 20px;
    max-width: 55px;
    max-height: 55px;
    border-radius: 55px;
}

#navbar ul li a img:hover {
    border: 1px solid #00F060;
}

/* CONTAINER */

.container {
    min-height: 60vh;
    padding: 2em;
}

/* MESSAGES */
.message{
    padding: 1em;    
    color: #00F060;
    background-color: #222;
    border: 1px solid #00F060;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 23%;
}


/* LOGIN E REGISTER */
.auth-container{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2 {
    margin-bottom: 1em;
    color: #fff;
    border-left: 4px solid #00F060;
    padding: .3em;
    width: 100px;
}

.auth-container a{
    color: #00F060;
    text-decoration: none;
}
.auth-container a:hover{
    color: #03b44a;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

.form-control label {
    margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea{
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: 0.5s;
}

.form-control input:hover,
.form-control textarea:hover,
.form-control input:focus-visible,
.form-control textarea:focus-visible
{
    border: 1px solid #00F060;
    outline: 1px solid #00F060;
}

form input[type='submit'],
.btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #00F060;
    padding: 0.5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

form input[type='submit']:hover,
.btn:hover {
    background-color: #00F060;
    color: #222;
}

/* CREATE & EDIT FORM */
.tought-form-container a{
    color: #00F060;
    text-decoration: none;
}

.tought-form-container a:hover{
    color: #03b44a;
}

.tought-form-container h1 {
    margin: 1em 0;
    color: #fff;
    border-left: 4px solid #00F060;
    padding: 0.3em;
}

.tought-form-container form {
    max-width: 30%;
    margin-top: 1.5em;

}

/* CONTROLE DE PENSAMENTOS */
.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.title-container h2 {
    border-left: 4px solid #00F060;
    padding: 10px;
}

.title-container .make{
    color: #fff;
}

.title-container .make:hover {
    color: #222;
}

.dashboard h3{
    margin-bottom: 1.5em;
}

.dashboard ul {
    list-style: none;
}

.dashboard li {
    padding: 12px;
    border-bottom: 1px solid #00F060;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .label {
    color: #00F060;
    margin-right: 2em;

}

.dashboard .actions {
    display: flex;
}

.dashboard .actions .btn {
    color: #fff;
    border-color: #fff;
    margin: 0 0.5em;
}

.dashboard .actions .delete:hover{
    background: #a30303;
}

.dashboard a {
    color: #00F060;
    text-decoration: none;
}

.dashboard a:hover {
    color: #03b44a;
}

/* HOME */
.home-header{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-header h1 {
    margin-bottom: 1em;
}

.home-header span {
    color: #00F060;
}

.home-header p,
.home-header form {
    margin-bottom: 1.2em;
}

.home-header input {
    border: none;
    border-bottom: 1px solid #fff;
    padding: .5em;
    margin-right: 1em;
}

.home-header input[type='text'] {
    width: 60%;
    height: 20px;
}

.home-header input[type='text']:focus-visible,
.home-header input[type='text']:hover {
    outline: none;
    border-bottom: 1px solid #00F060;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;
}

.order-container span {
    color: #fff;
}

.order-container form {
    margin: 0;
}

.order-container button {
    margin-bottom: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 0;
    transition: 0.5s;
}

.order-container i {
    background-color: transparent;
}

.order-container button:hover {
    background-color: #00F060;
}

.order-container .clear{
    font-size: 13px;
    max-width: 44px;
    max-height: 15px;
}

.order-container button,
.order-container i,
.order-container a{
    margin: 0 10px;
}

.toughts-container figure {
    border-bottom: 1px solid #333;
    padding: 0.5em;
    max-width: 50%;
    margin: 0 auto 1em;
}

.toughts-container blockquote {
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

.profile {
    margin-left: 10px;
    text-decoration: none;
    color: #00F060;
}

.profile:hover{
    color: #03b44a;
}


/* USER */
.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-profile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover-profile{
    text-align: center;
}

.cover-profile img{
    width: 1300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.data-profile {
    width: 70%;
    height: 220px;
    display: flex;
    text-align: left;
}

.data-profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    margin-top: -80px;
}

.data-profile h1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.data-profile .check {
    margin-left: 5px;
    color: #00F060;
}

.data-profile p {
    margin-left: 25px;
    margin-bottom: 15px;
}

.data-profile i {
    margin-left: 25px;
    margin-bottom: 15px;
}

.info-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body-profile{
    width: 100%;
    max-width: 1300px;
}

.create-tought{
    margin-top: 10px;
    border-bottom: 1px solid #333;
}

.save-tougth {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:center;
}

.input-tought{
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: 0.5s;
    width: 600px;
    max-height: 40px;
    font-size: 15px;
}

.submit-tougth {
    margin-left: 5px;
    height: 57px;
}

.user figure {
    margin-bottom: 3px;
}

.user blockquote{
    margin-left: 60px;
    
}

.tought-user {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.tought-user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.tought-user h3{
    margin-left: 10px;
}

.tought-user .check {
    margin-left: 5px;
    color: #00F060;
}

.name-edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-edit a{
    margin-top: 15px;
}

.profile-edit{
    width: 1500px;
    display: flex;
    justify-content: space-between;
}

.profile-texts {
    width: 40%;
}

.form-control textarea{
    width: 583px;
    min-width: 582px;
    max-width: 583px;
    height: 70px;
    min-width: 70px;
    max-height: 70px;
}

.profile-pics {
    width: 60%;
    display: flex;
    margin-left: 10px;
}

.send-pic-profile {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}

.send-pic-profile input[type="file"] {
    margin-top: 30px;
}

.pics-title{
    border-left: 3px solid #00F060;
    padding-left: 5px;
    margin-top: 5px;
}

.edit-profile {
    width: 200px;
    height: 50px;
}

.container-edit-exclude{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-edit-exclude a{
    max-width: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.edit-icon:hover{
    color: #00F060;
}

.icons-tought{
    width: 50px;
    display: flex;
}

.form-exclude{
    margin-left: 10px;
}

.form-exclude button{
    border: none;
    font-size: 16px;
}

.exclude-icon{
    cursor: pointer;
}

.exclude-icon:hover{
    color: #a30f0f;
}

/* FOOTER */
footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #00F060;
}

footer span {
    color: #00F060;;
}